<h2 class='page-header text-center'>Cheeses</h2>
<div class="list-group text-center">
  <% if (@cheeses.empty?) %>
    <p>Sorry, no cheese matches found.</p>
  <% else %>
    <% @cheeses.each do |cheese| %>
      <h4 class="list-group-item item"><%= link_to cheese.name, cheese_path(cheese.id) %></h4>
    <% end %>
  <% end %>
</div>
<div class="text-center">
  <%= link_to "Back To Search", root_path, :class => "btn btn-success" %>
</div>
