<div class="page-header text-center">
  <h1><%= @cheese.name %></h1>
</div>
<% @cheese.pairings.each do |pair| %>
  <p class="text-center"><%= link_to pair.beer.name, beer_path(pair.beer_id) %></p>
<% end %>
