<h3 class='page-header text-center'>Beers</h3>
<div class="list-group text-center">
  <% if (@beers.empty?) %>
    <p>Sorry, no beer matches found.</p>
  <% else %>
    <% @beers.each do |beer| %>
      <h4 class="list-group-item"><%= link_to beer.name, beer_path(beer.id) %></h4>
    <% end %>
  <% end %>
</div>
<div class="text-center">
  <%= link_to "Back To Search", root_path, :class => "btn btn-success" %>
</div>
