<div class="jumbotron text-center">
  <h1><%= @beer.name %></h1>
</div>
<div class="page-header lead text-center">
  <h3>Cheese Pairing Suggestions</h3>
  <em>Remember to upvote the pairings you love, and downvote the ones you don't.</em>
</div>
<% @pairings.each do |pair| %>
  <h3 class="text-center">+ <%= link_to pair.cheese.name, cheese_path(pair.cheese_id) %></h3>
  <%= render partial: 'votes/voter', locals: { pair: pair } %>
<% end %>
<div class="text-center">
  <%= link_to "Back To Search", root_path, :class => "btn btn-success" %>
</div>
