<div class='text-center'>
  <h4><%= link_to " ", pairing_down_vote_path(pair), class: 'glyphicon glyphicon-download', method: :post %>
  <strong><%= pair.points %></strong>
  <%= link_to " ", pairing_up_vote_path(pair), class: 'glyphicon glyphicon-upload', method: :post %></h4>
</div>
